.Button {
	font-family: Segoe UI;
	font-size: 13px;
}

.Default {
	font-family: Segoe UI;
	font-size: 12px;
}

.System_Normal {
	font-family: Segoe UI;
	font-size: 13px;
}

.System_Petit {
	font-family: Segoe UI;
	font-size: 11px;
}

