.Button {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.System_Normal {
	font-family: Lucida Grande;
	font-size: 13px;
}

.System_Petit {
	font-family: Lucida Grande;
	font-size: 11px;
}

